
<% i = 0 %>
<% @questions.each do |question| %>
  <div class="wrapper_full">
	<% if i%2 == 0 %>
	  <div class="before_question question_index">	
	<% else %>
	  <div class="next_question question_index">
	<% end %>
	    <div class="wrapper_skinny">
			<h1><%= link_to question.question, question %></h1>
		</div>
	  </div>
  </div>
  <% i = i+1 %>
<% end %>