<%= form_for([@question, @answer]) do |f| %>
  <p>
  	<%= f.label :content, "Inhalt" %>
  	<%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit "Antwort aktualisieren", class: "button button_highlight" %>
  </p>
<% end %>