<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
  	<%= f.label :content, "Inhalt" %>
  	<%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit class: "button button_highlight" %>
  </p>
<% end %>
