<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
  	<%= f.label :content %>
  	<%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit class: "button button_highlight" %>
  </p>
<% end %>

<!--, @question.user.friendships.build(friend_id: current_user, approved: "false")-->