.profile_title {

}

.profile {
	ul {
		list-style-type: none;
	}
}
.col {
	text-align: center;
}

.col_left {
	float: left;
	width: 33%;
	.pic {
		width: 3em;
		clear: both;
	}
	.profile_info {
		overflow: hidden;
	}
}

.col_middle {
	display: inline-block;
	width: 33%;
}

.col_right {
	float: right;
	width: 33%;
}



.question_answer {
	text-align: left;
	margin-bottom: 1.5em;
}

.line {
	width: 2em;
	align: right;
}

.circular {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.friends {
	width: 50%;
	margin: 0 auto;
	text-align: left;

	.profile_pic {
		display: inline-block;

		img {
			padding: 0.25em;
			filter: grayscale(1000);

			&:hover {
				filter: none;
			}
		}
	}
}

.headline_profile {
	margin-bottom: 0;
	background-color: $blueish;
}

.options {
	padding: 0!important;
	float: left;
}