.profile_title {

}

.col {
	text-align: center;
}

.col_left {
	float: left;
	width: 33%;
	.pic {
		width: 3em;
		clear: both;
	}
	.profile_info {
		overflow: hidden;
	}
}

.col_middle {
	display: inline-block;
	width: 33%;
}

.col_right {
	float: right;
	width: 33%;
}



.question_answer {
	text-align: left;
	margin-bottom: 1.5em;
}

.line {
	width: 2em;
	align: right;
}