#background {
	background: image-url('sagmal_background.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	text-align: center;

	header {
		padding: 3rem 0;
		font-size: 1.2em;

		#logo {
			float: left;
			text-transform: uppercase;
			font-weight: 700;
			color: $white;
			text-decoration: none;
			letter-spacing: 0.3em;
		}

		nav {
			float: right;
			ul {
				list-style: none;
				margin: 0;
				li {
					display: inline;
					margin-left: 2.5rem;
					a {
						color: $white;
						text-decoration: none;
					}
				}
			}
		}
	}

	h1 {
		color: $white;
		font-size: 3.3vw;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.welcome_title {
		margin: 0 auto;
		margin-top: 7em;
		text-align: left;
		display: inline-block;
		padding-left: 3em;
		overflow: auto;
		zoom: 1;

		.first {
			letter-spacing: .25em;
		}

		.second {
			letter-spacing: 0.84em;
		}

		.third {
			letter-spacing: 1.05em;
		}

		.first, .second, .third {
			float: left;
		}		
	}



	.welcome_subtitle {
		color: white;
		letter-spacing: 0.4em;
		font-size: 1.2vw;
		margin: 3em 0;
		text-transform: lowercase;
		line-height: 1.5em;

	}


	.button {
		margin: 1.5rem 2.5% 0 2.5%;
	}
}

